<br>
<br>

<div class="quote question">
  <blockquote>
    <h3>🙋🏻‍♀️ : <%= @question %></h3>
  <blockquote>
</div>
<div class="quote answer">
  <blockquote>
    <h3>👴🏻 : <%= @answer %></h3>
    <p>
  <blockquote>
</div>
<br>
<button class="btn-ask"><%= link_to "Ask a new question", ask_path %></button>
